<div v-if="commitedMedia.length == 0" class="empty">
    <p class="empty-title h5">You have no medias</p>
    <p class="empty-subtitle">Click the button to start a upload media.</p>
    <div class="empty-action">
        <a href="#upload-modal" class="btn btn-primary">Upload Media</a>
    </div>
</div>
<div v-if="commitedMedia.length > 0">
    <div style="margin: 10px 5px;">
        <a href="#upload-modal" class="btn">Upload Media</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Size (KB.)</th>
                <th>Ext</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="isCommitedMediaLoading">
                <td colspan="5" style="text-align: center;margin: 10px 0px;"><i class="loading"></i></td>
            </tr>
            <tr v-for="(media,index) in commitedMedia">
                <td>{{ index + 1 }}</td>
                <td><a :href="media.url" target="_blank">{{ media.aliasName }}</a></td>
                <td>{{ parseInt(media.size) }}</td>
                <td><span class="tooltip tooltip-bottom" :data-tooltip="media.mime">{{media.ext}}</span></td>
                <td>
                  <div class="popover popover-bottom">
                      <i class="icon icon-more-vert"></i>
                      <div class="popover-container" style="width: auto;">
                          <div class="card">
                              <div class="card-body">
                                  <button class="btn btn-link text-error" @click="dropMedia(media.id)">Delete Media</button>
                              </div>
                          </div>
                      </div>
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>