<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Size (KB.)</th>
            <th>Ext</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>commited_file.png</td>
            <td>900</td>
            <td>png</td>
            <td>
                <div class="popover popover-bottom">
                    <i class="icon icon-more-vert"></i>
                    <div class="popover-container" style="width: 200px;">
                      <div class="card">
                        
                        <div class="card-body">
                          ...
                        </div>
                      </div>
                    </div>
                  </div>
            </td>
        </tr>
    </tbody>
</table>