<%- include('header'); %>
<main class="columns col-gapless">
    <div class="taro-sidebar column col-1">
        <section>
            <%- include('sidebar'); %>
        </section>
    </div>
    <div class="taro-content column col-11">
        <section>