<div class="taro-brand">
    <span>Taro</span>
</div>

<div class="taro-nav">
    <ul class="nav">
        <li class="nav-item active">
            <a href="javascript:void(0)">Rules</a>
            <ul class="nav">
                <li class="nav-item">
                    <a href="#">Images</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="taro-action">
        <button class="btn btn-primary">
            <i class="icon icon-plus"></i>
            Add New Rule
        </button>

        
    </div>
</div>
<a class="btn btn-link" style="width:100%;position: absolute;bottom: 10px;">
    Logout
</a>