<div class="taro-brand">
    <a href="/"><span>Taro</span></a>
</div>

<div class="taro-nav">
    <ul class="nav">
        <li class="nav-item active">
            <a href="javascript:void(0)">Rules</a>
            <ul class="nav">
                <% rules.forEach(function(rule){ %>
                    <li class="nav-item">
                        <a href="/rule/<%= rule.id %>"><%= rule.name %></a>
                    </li>
                <% }); %>
            </ul>
        </li>
    </ul>
    <div class="taro-action">
        <a href="#add-rule-modal" class="btn btn-primary">
            Add New Rule
        </a>
    </div>
</div>
<a href="/logout" class="btn btn-link" style="width:100%;position: absolute;bottom: 10px;">
    Logout
</a>